%h1 Contato
= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .field
    = f.label :email
    %br
    = f.email_field :email, autofocus: true, autocomplete: "email"
  .actions
    = f.submit "Enviar"