.container
  .row
    .col-lg-5.form-signin.pt-0.mx-0
      %h1.text-center Colabore
      = render 'form', donor: @donor
    .col-lg-7
      .card.mt-5
        = image_tag "adultos.jpg", class: "img-fluid", src: "adultos.jpg"
