.mt-4
  %h5 Mediante a adoção me comprometo a:
  %p
    a) Manter o animal adotado em boas condições de abrigo, higiene, alimentação e saúde, além de não manter o animal isolado, preso em corrente curta ou confinado em espaço pequeno, sem luz e aeração adequada ou insalubre;
    %br
    b) Levar o animal periodicamente ao médico veterinário, para vacinação e vermifugação e sempre que se fizer necessário para preservar a boa saúde do animal;
    %br
    c) Providenciar a 
    %strong ESTERILIZAÇÃO
    (castração) do animal adotado, caso ainda não tenha sido realizado, contribuindo assim para o controle da população de animais domésticos;

  %p
    Estou ciente de que 
    %strong não posso tratar o animal com violência
    , transmitir a posse deste animal a outrem, nem vendê-lo,
    %strong ou sob qualquer hipótese abandoná-lo.
  %p
    Ao adotar o animal acima descrito declaro-me apto para assumir a guarda e a responsabilidade sobre este animal, eximindo o doador de toda e qualquer responsabilidade por quaisquer atos praticados pelo animal a partir desta data. Declaro ainda estar ciente de todos os cuidados que este animal exige no que se refere à sua guarda e manutenção, além de conhecer todos os riscos inerentes à espécie e raça no convívio com humanos, estando apto a guardá-lo e vigiá-lo.
  %p
    Concordo desde já, a permitir o acesso do doador ao local onde se encontra o animal, receber telefonemas e responder as perguntas que me forem feitas para averiguação das condições em que está o animal. Tenho conhecimento de que caso seja constatado por parte do doador situação inadequada para o bem estar do animal, perderei a sua guarda, sem prejuízo das penalidades legais.
  %p
    %b
      Declaro-me assim, ciente das normas acima, as quais aceito, assinando o presente Termo de Responsabilidade, assumindo plenamente os deveres que dele constam, bem como outros relacionados à posse responsável e que não estejam incluídos neste Termo.