.container
  .row
    .col-lg-8
      = image_tag "capa_uniao_animal.jpg", class: "img-fluid rounded", alt:"", src: "capa_uniao_animal.jpg"
    .card.col-lg-4
      %h1.card-title-header Ao adotar um animal, você estará:
      .card-text
        %ul
          %li Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          -# Reduzindo animais abandonados nas ruas
          %li Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          -# Ajudando animais mal tratados
          %li Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          -# Dando um lar para animais abandonados nas ruas
          %li Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          %li Lorem ipsum dolor sit amet, consectetur adipisicing elit.

  .row
    .card.col-lg-12.text-white.bg-secondary.text-center.mt-4.ml-1.mr-1
      .card-body
        %p.text-white.m-0
          NÃO 
          %b COMPRE, 
          %b ADOTE!
  .row.my-4
    .col-md-4.mb-4
      .card.h-100
        .card-body
          %h2.card-title Colabore
          %p.card-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.
        .card-footer
          %a.btn.btn-primary{:href => "#"} Colabore com a ONG
    .col-md-4.mb-4
      .card.h-100
        .card-body
          %h2.card-title Adote
          %p.card-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex natus at dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque, vel, non in id dolore voluptates quos eligendi labore.
        .card-footer
          %a.btn.btn-primary{:href => "/animais"} Animais para adoção
    .col-md-4.mb-4
      .card.h-100
        .card-body
          %h2.card-title Eventos
          %p.card-text Fique por dentro da nossa agenda de eventos, e venha nos prestigiar com sua presença. Você será muito bem vindo(a)!
        .card-footer
          %a.btn.btn-primary{:href => "/eventos"} Ir para eventos

