.container
  .row.my-4
    .col-lg-8
      %img.img-fluid.rounded{:alt => "", :src => "http://placehold.it/900x400"}
    .card.col-lg-4
      %h1.card-title Lorem ipsum
      .card-text
        %ul
          %li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          %li Mauris non ligula feugiat, sodales odio at, venenatis lacus.
          %li Praesent sed elit nec tortor congue auctor.
          %li Nulla at nulla et enim iaculis vulputate.
          %li In venenatis nunc et lectus convallis semper.

  .card.text-white.bg-secondary.text-center
    .card-body
      %p.text-white.m-0 Sed posuere tincidunt porttitor. Suspendisse potenti. Praesent ultricies, lacus sed accumsan eleifend, justo lacus congue est, ac aliquam quam.
  .row.my-4
    .col-md-4.mb-4
      .card.h-100
        .card-body
          %h2.card-title Colabore
          %p.card-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.
        .card-footer
          %a.btn.btn-primary{:href => "#"} Colabore com a ONG
    .col-md-4.mb-4
      .card.h-100
        .card-body
          %h2.card-title Adote
          %p.card-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex natus at dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque, vel, non in id dolore voluptates quos eligendi labore.
        .card-footer
          %a.btn.btn-primary{:href => "/animais"} Animais para adoção
    .col-md-4.mb-4
      .card.h-100
        .card-body
          %h2.card-title Eventos
          %p.card-text Fique por dentro da nossa agenda de eventos, e venha nos prestigiar com sua presença. Você será muito bem vindo(a)!
        .card-footer
          %a.btn.btn-primary{:href => "/eventos"} Ir para eventos

