.container
  .row
    .col-md-8
      = image_tag "capa_uniao_animal.jpg", class: "img-fluid", src: "capa_uniao_animal.jpg"
    .card.col-md-4
      %h1.card-title-header
        Ao adotar um animal, você estará:
      .card-text
        %p.mt-3 Diminuindo o abandono
        %p Mudando a vida do peludo
        %p Abrindo vagas para outros animais resgatados
        %p Salvando vidas
        %p Ganhando um amigo

  .card_friendly.text-center.my-4
    %p.my-3
      Seja 
      %b
        gato
      ou
      %b
        cachorro,
      sua vida fica muito mais feliz com um animal de estimação

  .row.my-4
    .col-md-4.mb-4
      .card.h-100
        .card-body
          %h2.card-title Colabore
          %p.card-text Não está podendo adotar?! Não tem problema! Você pode nos ajudar de outras formas
        .card-footer
          %a.btn.btn-primary{:href => "/donors/new"} Colabore com a ONG
    .col-md-4.mb-4
      .card.h-100
        .card-body
          %h2.card-title Adote
          %p.card-text A jeito mais fácil de conseguir um animal para a sua companhia e ao mesmo tempo praticar uma boa ação
        .card-footer
          %a.btn.btn-primary{:href => "/animais"} Animais para adoção
    .col-md-4.mb-4
      .card.h-100
        .card-body
          %h2.card-title Eventos
          %p.card-text Fique por dentro da nossa agenda de eventos, e venha nos prestigiar com sua presença. Você será muito bem vindo(a)!
        .card-footer
          %a.btn.btn-primary{:href => "/eventos"} Ir para eventos

