@import "bootstrap";
@import "home";
@import "devise/signin";
@import "card_event";
@import "animals_page";
@import "shared/_navbar";

@font-face{
  font-family: "Helvetica Neue Ultra Light"; src: font-url("HelveticaNeueUltraLight") format("truetype");
  font-family: "Helvetica Neue Light Ext"; src: url('HelveticaNeue-LightExt.otf') format("truetype");
}

.card-title{
  font-family: "Helvetica Neue Light Ext";
}

.card_animal{
  a {
    color: #666;
    font-weight: bold;
    &:hover {
      text-decoration: underline;
    }
  }
}

.card-body, .card-text {
  p li{
    font-family: "Helvetica Neue Ultra Light";
  }
}