@import "bootstrap";
@import "home";
@import "devise/signin";
@import "card_event";
@import "animals_page";
@import "shared/_navbar";
@import "font-awesome-sprockets";
@import "font-awesome";

@font-face {
  font-family: "Montserrat"; src: url('montserrat.otf') format("truetype");
}

@font-face {
  font-family:"Montserrat-Light"; src: url('Montserrat-Light.otf') format("truetype");
}

body{
  h1, h2{
    font-family: "Montserrat";
  }
  p{
    font-family: "Montserrat-Light";
  }
}

.card-title-header{
  font-size: 2em;
}

.card{
  border-color: #666;
}

.card_animal{
  a {
    color: #666;
    font-weight: bold;
    &:hover {
      text-decoration: underline;
    }
  }
}
