@import "bootstrap";
@import "home";
@import "signin";
@import "card_event";
@import "shared/_navbar";

.bg-default {
  background-color: #4397D2 !important;
  a {
    color: #fff;
    font-weight: bold;
    &:hover {
      text-decoration: underline;
    }
  }
}
