.bg-secondary {
  background-color: #49c5b6 !important;
}
.btn-primary {
  color: #fff;
  background-color: #47C5DC;
  border-color: #47C5DC;
}

.card-title{
  %h2{
    font-family: "Helvetica Neue";
  }
}

.card{
  %h1{
    font-family: "Helvetica Neue";
  }
}