- @events.each_with_index do |event, index|
  .col-md-7
    %a{:href => "#"}
      %img.img-fluid.rounded.mb-3.mb-md-0{:alt => "", :src => "http://placehold.it/700x300"}
  .col-md-5
    %h2
      = event.title

    %p 
      Local:
      = event.place

    %p 
      Data:
      = event.date.strftime("%d/%m/%y")

    %p 
      A partir das:
      = event.time.strftime("%R h")

