.bg-default.py-5
  .container
    %p.m-0.text-center.text-white
      Copyright © União Animal - #{Date.current.year} | Desenvolvido e Mantido por
      %a{:href => "#", target:"_blank", rel:"noopener"} Codebyte
%script{:src => "vendor/jquery/jquery.min.js"}
%script{:src => "vendor/bootstrap/js/bootstrap.bundle.min.js"}