%footer.py-5.bg-dark
  .container
    %p.m-0.text-center.text-white
      Codelate © União Animal - 2018 | Desenvolvido por
      %a{:href => "#"} @dailsoncampos
%script{:src => "vendor/jquery/jquery.min.js"}
%script{:src => "vendor/bootstrap/js/bootstrap.bundle.min.js"}