.bg-default.py-4
  .container
    %p.m-0.text-center.text-white
      %a.nav-link{:href => "/dashboard"} Área administritativa
      Copyright © União Animal - #{Date.current.year} | Desenvolvido e Mantido por
      %a{:href => "#", target:"_blank", rel:"noopener"} Esteticar

