!!!
%html{:lang => "pt-br"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:charset => "utf-8"}
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    %title União Animal
    %link{:href => "application.scss", :rel => "stylesheet"}
  %body
    %nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
      .container
        %a.navbar-brand{:href => "/"} União Animal
        %button.navbar-toggler{"aria-controls" => "navbarResponsive", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarResponsive", "data-toggle" => "collapse", :type => "button"}
          %span.navbar-toggler-icon
        #navbarResponsive.collapse.navbar-collapse
          %ul.navbar-nav.ml-auto
            %li.nav-item.active
              %a.nav-link{:href => "/"}
                Home
                %span.sr-only (current)
            %li.nav-item
              %a.nav-link{:href => "#"} Sobre
            %li.nav-item
              %a.nav-link{:href => "#"} Contato
            %li.nav-item
              %a.nav-link{:href => "/dashboard"} Entrar
            -# %li.nav-item
            -#   %a.nav-link{:href => destroy_agent_session_path(method: :delete)} Sair
