%nav.navbar.navbar-expand-lg.navbar-dark.bg-nav.py-0
  .container
    = link_to "/", title: 'União Animal', class:'navbar-brand', target: '_self' do
      = image_tag "logo-ong-uniao-animal.png", alt:"Logo da ONG união animal", height: "64", width: "192", src: "logo-ong-uniao-animal.png"
    %button.navbar-toggler{"aria-controls" => "navbarResponsive", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarResponsive", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navbarResponsive.collapse.navbar-collapse
      %ul.navbar-nav.ml-auto
        %li.nav-item.py-4.px-3.active
          %a.nav-link{:href => "/"}
            Início
            %span.sr-only (current)
        %li.nav-item.py-4.px-3
          %a.nav-link{:href => "#"} Sobre
        %li.nav-item.py-4.px-3
          %a.nav-link{:href => "#"} Contato
        %li.nav-item.py-4.px-3
          %a.nav-link{:href => "/dashboard"} Entrar
        -# %li.nav-item
        -#   %a.nav-link{:href => destroy_agent_session_path(method: :delete)} Sair